In [11]:
import pandas as pd
import json
import csv

In [12]:
confirmed = pd.read_csv('time_series_covid19_confirmed_global_narrow.csv.CSV')
deaths = pd.read_csv('time_series_covid19_deaths_global_narrow.csv.CSV')
recovered = pd.read_csv('time_series_covid19_recovered_global_narrow.csv.CSV')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

c:\users\tred1\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (2,3,5,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
russia = confirmed[confirmed['Country/Region']=='Russia']
russia[:5]

      Province/State Country/Region       Lat        Long        Date    Value ISO 3166-1 Alpha 3-Codes Region Code Sub-region Code Intermediate Region Code
64471            NaN         Russia  61.52401  105.318756  2020-11-23  2096749                      RUS         150             151                      NaN
64472            NaN         Russia  61.52401  105.318756  2020-11-22  2071858                      RUS         150             151                      NaN
64473            NaN         Russia  61.52401  105.318756  2020-11-21  2047563                      RUS         150             151                      NaN
64474            NaN         Russia  61.52401  105.318756  2020-11-20  2023025                      RUS         150             151                      NaN
64475            NaN         Russia  61.52401  105.318756  2020-11-19  1998966                      RUS         150             151                      NaN

In [24]:
col_dict_confirmed = {'date':'Date',  'country':'Country/Region', 'province/state':'Province/State', 'region_code':'ISO 3166-1 Alpha 3-Codes', 'confirmed':'Value', 'lat':'Lat', 'long':'Long', 'sub-region_code':'Sub-region Code', 'intermediate_region_code':'Intermediate Region Code'}

with open('confirmed_global_narrow_columns.json', 'w') as sf:
    json.dump(col_dict_confirmed, sf)

In [10]:
deaths[:2]

  Province/State Country/Region       Lat       Long        Date                         Value ISO 3166-1 Alpha 3-Codes        Region Code   Sub-region Code   Intermediate Region Code
0     #adm1+name  #country+name  #geo+lat   #geo+lon       #date  #affected+infected+value+num            #country+code  #region+main+code  #region+sub+code  #region+intermediate+code
1            NaN    Afghanistan  33.93911  67.709953  2020-11-23                          1695                      AFG                142                34                        NaN

In [25]:
col_dict_deaths = {'date':'Date',  'country':'Country/Region', 'province/state':'Province/State', 'region_code':'ISO 3166-1 Alpha 3-Codes', 'deaths':'Value', 'lat':'Lat', 'long':'Long', 'sub-region_code':'Sub-region Code', 'intermediate_region_code':'Intermediate Region Code'}

with open('deaths_global_narrow_columns.json', 'w') as sf:
    json.dump(col_dict_deaths, sf)

In [11]:
recovered[:2]

  Province/State Country/Region       Lat       Long        Date                         Value ISO 3166-1 Alpha 3-Codes        Region Code   Sub-region Code   Intermediate Region Code
0     #adm1+name  #country+name  #geo+lat   #geo+lon       #date  #affected+infected+value+num            #country+code  #region+main+code  #region+sub+code  #region+intermediate+code
1            NaN    Afghanistan  33.93911  67.709953  2020-11-23                         35976                      AFG                142                34                        NaN

In [26]:
col_dict_recovered = {'date':'Date',  'country':'Country/Region', 'province/state':'Province/State', 'region_code':'ISO 3166-1 Alpha 3-Codes', 'recovered':'Value', 'lat':'Lat', 'long':'Long', 
                      'sub-region_code':'Sub-region Code', 'intermediate_region_code':'Intermediate Region Code'}

with open('recovered_global_narrow_columns.json', 'w') as sf:
    json.dump(col_dict_recovered, sf)